.under-construction {
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  
    .logo {
      height: 7rem;
      width: auto;
    }
  
    .lottie-container {
      width: 40%;
  
      svg {
        display: none;
        &:nth-child(1) {
          display: unset;
        }
      }
    }
  
    .content {
      .std-btn {
        background-color: #e84a42;
        margin: 0 1rem;
      }
    }
  }
  